h1 {
  color: white;
  font-size: 90px;
  font-family: sans-serif;
  padding-top: 50px;
}

img {
  padding-top: 400px;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/674/457/195/hands-minimalistic-paper-rock-wallpaper-preview.jpg");
}
